@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@keyframes loadingJ {
    0%,100% {transform: translate(0,0);}

    50% {
        transform: translate(80px,0);
        background-color: #f5634a;
        width: 25px;
    }
}


.navBardemoBasicUsage md-content .ext-content {
    padding: 30px;
}

.incidentsList table {
    width: 100%;
}
.incidentsList thead {
    background: beige;
}
.incidentsList thead td:hover {
    background: #efefd7;
}
.incidentsList table tr {
    height: 50px;
}
.incidentsList tbody tr:hover {
    background: #f5f5f5;
}
.incidentsList table td {
    padding: 0 10px;
    border: 1px solid #e8e8e8;
}
.loader {
    border: 10px solid #f3f3f3;
    border-top: 10px solid #ff4081;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: calc(50vh - 50px);
    left: calc(50% - 50px);
}
.loader-wrapper {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.6);
    z-index: 10;
}
.order span {
    height: 6px;
    width: 10px;
    display: inline-block;
    position: relative;
    margin-left: 5px;
}
.order span::after {
    content: '';
    position: absolute;
    border: 5px solid transparent;
}
.order span.asc::after {
    border-top: 5px solid #f50057;
}
.order span.desc::after {
    border-bottom: 5px solid #f50057;
    top: -5px;
}
.incidentsList section {
    margin-top: 20px;
}
.incidentsList button {
    padding: 5px 20px;
}
.incidentsItem .container, .dashboard .container{
    width: 100%;
}
.incidentsItem .container .row .row{
    padding: 10px 0;
}
.incidentsItem .col-xs-4{
    font-size: 16px;
    color: #560000;
}
.incidentsItem .panel {
    margin: 0 -15px;
    padding: 0 15px;
    background: #f7f7f7;
}
.incidentsItem .panel > .row:not(:last-child) {
    border-bottom: 1px solid #ddd;
}
.bar {
    float: left;
    width: 15px;
    height: 6px;
    border-radius: 2px;
    background-color: #4b9cdb;
    margin-top: 9px;
}
.load-10 .bar {animation: loadingJ 2s cubic-bezier(.17,.37,.43,.67) infinite;}
.dashboard ul {
    padding-left: 15px;
}
.dashboard li {
    list-style: none;
    line-height: 30px;
}
.dashboard li .color {
    list-style: none;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 7px;
}
.dashboard li .count {
    list-style: none;
    font-weight: bold;
}
.dashboard .container > .row {
    margin-bottom: 50px;
}
.dashboard .col-sm-5 {
    padding-top: 20px;
}

.dashboard .col-sm-6 h4 {
    margin-bottom: 20px;
}






@media (max-width: 480px) {
    ._md-nav-bar-list li:last-child {
        display: none;
    }
    .navBardemoBasicUsage md-content .ext-content {
        padding: 10px;
    }
}