<!doctype html>
<html lang="en" ng-app="Dashboard">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <base href="/">

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css" />
    <link rel="stylesheet" href="css/style.css" />
    <!--<link rel="stylesheet" href="app.animations.css" />-->

    <!--<script src="bower_components/jquery/dist/jquery.js"></script>-->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-material/angular-material.min.js"></script>
    <script src="bower_components/chart.js/dist/Chart.js"></script>
    <script src="bower_components/angular-chart.js/angular-chart.js"></script>


</head>
<body>

<div ng-cloak="" ng-controller="NavController" class="navBardemoBasicUsage">
    <div class="container">
        <md-content class="md-padding">
            <md-nav-bar md-no-ink-bar="disableInkBar" md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
                <md-nav-item md-nav-href="#/" name="dashboard">
                    Dashboard
                </md-nav-item>
                <md-nav-item md-nav-href="#/list/" name="list">
                    Incidents list
                </md-nav-item>
                <md-nav-item md-nav-href="#/list/{{incident.name}}" name="listItem" ng-show="incident.show">
                    {{incident.name}}
                </md-nav-item>
            </md-nav-bar>
            <div class="ext-content">
                <div ng-view></div>
            </div>
        </md-content>
    </div>
</div>

<!-- Config -->
<script src="js/config.js"></script>

<!-- Modules -->
<script src="js/app.js"></script>

<!-- Controllers -->
<script src="js/controllers/NavController.js"></script>
<script src="js/controllers/DashboardController.js"></script>
<script src="js/controllers/ListController.js"></script>
<script src="js/controllers/ItemController.js"></script>

<!-- Services -->
<script src="js/services/servicenow.js"></script>

</body>
</html>