<div class="dashboard" ng-controller="DashboardController">
    <div ng-hide="preload" class="loader-wrapper">
        <div class="loader"></div>
    </div>

    <div class="container">
        <div class="row chartOne">
            <div class="col-sm-7">
                <canvas id="chartOne" class="chart chart-doughnut"
                        chart-data="chartOne.data" chart-labels="chartOne.labels" chart-colors="chartOne.colors">
                </canvas>
            </div>

            <div class="col-sm-5" ng-show="chartOne.show">
                <h4>Incidents by state</h4>
                <ul>
                    <li ng-repeat="n in [0, 1, 2, 3, 4, 5]">
                        <span class="color" style="background-color: {{chartOne.colors[n]}}"></span>
                        <span class="name"> {{chartOne.labels[n]}}</span>
                        <span class="count"> ({{chartOne.data[n]}})</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row chartThree">
            <div class="col-sm-6"  ng-show="chartThree.show">
                <h4>Quantity of incedents per mounth</h4>
                <canvas id="chartThree" class="chart chart-bar"
                        chart-data="chartThree.data" chart-labels="chartThree.labels" chart-series="chartThree.series">
                </canvas>
            </div>

            <div class="col-sm-6" ng-show="chartFour.show">
                <h4>Time to resolving incident</h4>
                <canvas id="chartFour" class="chart chart-bar"
                        chart-data="chartFour.data" chart-labels="chartFour.labels" chart-series="chartFour.series">
                </canvas>
            </div>
        </div>
        <div class="row chartTwo">

            <div class="col-sm-7">
                <canvas id="chartOneTwo" class="chart chart-doughnut"
                        chart-data="chartTwo.data" chart-labels="chartTwo.labels" chart-colors="chartTwo.colors">
                </canvas>
            </div>
            <div class="col-sm-5" ng-show="chartTwo.show">
                <h4>Incidents by category</h4>
                <ul>
                    <li ng-repeat="n in [0, 1, 2, 3, 4]">
                        <span class="color" style="background-color: {{chartTwo.colors[n]}}"></span>
                        <span class="name"> {{chartTwo.labels[n]}}</span>
                        <span class="count"> ({{chartTwo.data[n]}})</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>


</div>