<div class="incidentsItem" ng-controller="ItemController">
    <div ng-hide="preload" class="loader-wrapper">
        <div class="loader"></div>
    </div>
    <div class="container">
        <div class="row">
            <h3>Incident Info</h3>
        </div>
        <div class="panel">
            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-xs-4">Number</div>
                        <div class="col-xs-8">{{incident.number}}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">Opened at</div>
                        <div class="col-xs-8">{{incident.opened_at}}</div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-xs-4">State</div>
                        <div class="col-xs-8">{{incident.state}}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">Priority</div>
                        <div class="col-xs-8">{{incident.priority}}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">Urgency</div>
                        <div class="col-xs-8">{{incident.urgency}}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">Impact</div>
                        <div class="col-xs-8">{{incident.impact}}</div>
                    </div>
                </div>
            </div>
            <div class="row" ng-show="incident.incident_state==7">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-xs-4">Closed at</div>
                        <div class="col-xs-8">{{incident.closed_at}}</div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-xs-4">Close Code</div>
                        <div class="col-xs-8">{{incident.close_code}}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">Close Notes</div>
                        <div class="col-xs-8">{{incident.close_notes}}</div>
                    </div>
                </div>
            </div>
            <div class="row" ng-show="incident.state==7">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-xs-4">Resolved by</div>
                        <div class="col-xs-8">{{incident.resolved_by.name}}</div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-xs-4">Closed by</div>
                        <div class="col-xs-8">{{incident.closed_by.name}}</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-xs-4">Assignment Group</div>
                        <div class="col-xs-8">
                            <div class="load-10" ng-show="showCeilLoader(incident.assignment_group.name)">
                                <div class="bar"></div>
                            </div>
                            {{incident.assignment_group.name}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">Assignment to</div>
                        <div class="col-xs-8">
                            <div class="load-10" ng-show="showCeilLoader(incident.assigned_to.name)">
                                <div class="bar"></div>
                            </div>
                            {{incident.assigned_to.name}}
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-xs-4">Category</div>
                        <div class="col-xs-8">{{incident.category}}</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-xs-4">Short description</div>
                        <div class="col-xs-8">{{incident.short_description}}</div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-xs-4">Description</div>
                        <div class="col-xs-8">{{incident.description}}</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <h3>Caller Info</h3>
        </div>
        <div class="panel">
            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-xs-4">Name</div>
                        <div class="col-xs-8">
                            <div class="load-10" ng-show="showCeilLoader(incident.caller_id.name)">
                                <div class="bar"></div>
                            </div>
                            {{incident.caller_id.name}}
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-xs-4">Email</div>
                        <div class="col-xs-8">
                            <div class="load-10" ng-show="showCeilLoader(incident.caller_id.name)">
                                <div class="bar"></div>
                            </div>
                            {{incident.caller_id.email}}
                        </div>
                    </div>
                    <div class="row" ng-show=" incident.caller_id.mobile_phone!='' ">
                        <div class="col-xs-4">Mobile phone</div>
                        <div class="col-xs-8">
                            <div class="load-10" ng-show="showCeilLoader(incident.caller_id.mobile_phone)">
                                <div class="bar"></div>
                            </div>
                            {{incident.caller_id.mobile_phone}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-xs-4">Company</div>
                        <div class="col-xs-8">
                            <div class="load-10" ng-show="showCeilLoader(incident.company.name)">
                                <div class="bar"></div>
                            </div>
                            {{incident.company.name}}
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-xs-4">Location</div>
                        <div class="col-xs-8">
                            <div class="load-10" ng-show="showCeilLoader(incident.location.full_name)">
                                <div class="bar"></div>
                            </div>
                            {{incident.location.full_name}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>