<div class="incidentsList" ng-controller="ListController">
    <div ng-hide="preload" class="loader-wrapper">
        <div class="loader"></div>
    </div>
    <div class="content-wrapper">
        <table>
            <thead>
                <tr>
                    <td class="number" ng-click="sort('number')">Number <span></span></td>
                    <td class="category" ng-click="sort('category')">Category <span></span></td>
                    <td class="priority" ng-click="sort('priority')">Priority <span></span></td>
                    <td class="state" ng-click="sort('state')">State <span></span></td>
                    <td class="opened_at" ng-click="sort('opened_at')">Opened at <span></span></td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="incident in incidents" ng-click="openItem(incident.sys_id)">
                    <td>{{incident.number}}</td>
                    <td>{{incident.category}}</td>
                    <td>{{incident.priority}}</td>
                    <td>{{incident.state}}</td>
                    <td>{{incident.opened_at | date:'HH:mm d, MMM, yyyy'}}</td>
                </tr>
            </tbody>
        </table>
        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap ng-hide="noMore" ng-show="preload">
            <md-button class="md-raised" ng-click="more()">More items</md-button>
        </section>
    </div>
</div>